<div class="container">

    <div class="row">
    <div class="content col-lg-8 col-sm-12">
        <h2>ABOUT ME</h2>
        <p style="font-weight: bolder;">
            IT engineering student at INSAT
        </p>
        <p>
            Currently a student at INSAT, the prestigious school renowned for its excellence in scientific and technological education.I specialize in computer science and am strongly interested in artificial intelligence and data science. Passionate about data analysis and machine learning technologies, I have developed solid skills in:
        </p>
        <ul>

            <li>🧠 Artificial Intelligence: Data preparation, Data analysis, Predictive modeling, deep learning, computer vision.</li>
            
            <li>🔍 Programming: Python, back-end development with NestJS.</li>
            <br>
            <li>📚 Libraries and Tools: TensorFlow, Keras, PyTorch, Scikit-Learn, Pandas, NumPy, Matplotlib, Seaborn,openCV,Microsoft Azure, etc.</li>
        </ul>

    </div>
    <div class=" col-lg-4 col-sm-12">
        <app-list></app-list>
    </div>
</div>
</div>