<div class="container" id="container">
  <h1>ABOUT <span>ME</span></h1>
  <span class="title-bg">RESUME</span>



  <div class="row " >
    <div class="info col-lg-12 md-12" style="margin-top: 5vh;">
      <div class="row">
      <h2 >PERSONAL INFO</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-12">
          <div class="item">
            <span class="title">First Name:</span>
            <span class="value">Oussama</span>
          </div>
    
        </div>
        <div class="col-lg-3 col-sm-12">
          <div class="item">
            <span class="title"> Last Name: </span>
            <span class="value"> Ziada </span>
          </div>
        </div> 
      
    
        <div class="col-lg-3 col-sm-12">
          <div class="item">
            <span class="title">  Nationality:  </span>
            <span class="value">  Tunisian </span>
          </div>
        </div>  
        
        <div class="col-lg-3 col-sm-12">
          <div class="item">
            <span class="title">  Age  </span>
            <span class="value"> 23 Years </span>
          </div>
        </div> 
      </div>
      <div class="row">
         
        <div class="col-lg-3 col-sm-12">
          <div class="item">
            <span class="title"> Phone </span>
            <span class="value"> +216 55068561 </span>
          </div>
        </div>
      
        <div class="col-lg-3 col-sm-12">
          <div class="item">
            <span class="title">  Languages:  </span>
            <span class="value"> English, French, Arabic  </span>
          </div>
        </div> 
        <div class="col-lg-6 col-sm-12">
          <div class="item">
            <span class="title">  Email:  </span>
            <span class="value"> oussama.ziada@insat.ucar.tn </span>
          </div>
        </div>  
         
      </div>
    
     
      <div class="row" >
        <div class="button" (click)="downloadPdf()">
          <a href="#" class="anchor">
            <span>Download CV</span>
          </a>
        </div>
      </div>
      
    </div>
    <app-what-i-offer></app-what-i-offer>
    <app-skills-list></app-skills-list>


    


       
    
  </div>
</div>