

<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>

<body>

    <div class="page_container">
        <!--<div class="color-block"></div>-->

        <div class="container1  ">

            <div class="row">

                <div class="container2 ">

                </div>
                <div class="   content text-uppercase poppins-font">

                    <div class="border"></div>
                    <h1 > i'm Oussama Ziada . <br>
                        <span > <div class="typing-demo">Software Engineering student</div></span>
                    </h1>
                   
                        <p >I'm a computer science engineering student at INSAT university, specializing in Artificial Intelligence and 
                            passionate about its incredible quick progress.
                        </p>
                   
        


                    <div class="social-icons">
                        <a href="oussama.ziada@insat.ucar.tn" class="icon"><i
                                class="fa-brands fa-google-plus-g"></i></a>
                        <a href="https://github.com/oussamaziada" class="icon"><i
                                class="fa-brands fa-github"></i></a>
                        <a href="https://linkedin.com/in/oussama-ziada-bb88aa17b/" class="icon"><i
                                class="fa-brands fa-linkedin-in"></i></a>
                    </div>

                </div>



            </div>
        </div>
    </div>

</body>