<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<div class="page_container">
   
        <div class="row">
            <!-- Avatar à gauche -->
            <div class="col-md-4 col-sm-12 text-center">
                <div class="avatar">
                    <img src="assets/oussama.jpg" alt="Avatar">
                </div>
            </div>
            
            <!-- Description à droite -->
            <div class="col-md-8 col-sm-12">
                <div class="content text-uppercase poppins-font">
                    <h1>I'm Oussama Ziada.<br>
                        <span>
                            <div class="typing-demo" style="text-align: center;">Computer Science student</div>
                        </span>
                    </h1>
                    <p style="margin-top: 3vh;"> I'm a computer science engineering student at <span style="font-weight: bolder;">INSAT</span> university, specializing in <span style="color: #ffb300c2;font-weight: bold;">Artificial Intelligence</span> and passionate about its incredible quick progress.</p>
                    <div class="social-icons">
                        <a href="mailto:oussama.ziada@insat.ucar.tn" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                        <a href="https://github.com/oussamaziada" class="icon"><i class="fa-brands fa-github"></i></a>
                        <a href="https://linkedin.com/in/oussama-ziada-bb88aa17b/" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
