<div class="container">
<h1 style="text-align: center">SKILLS</h1>

<h6 style="text-align: center;color:rgba(255, 255, 255, 0.726); margin:4Vh ;">Driven by a talent for fast learning, I prioritize mastering the wide range of skills and technologies crucial for Artificial Intelligence.</h6>
<div class="scroller" data-direction="right" data-speed="fast">
  <div class="scroller__inner">
    <div class="skill"><img src="assets\skills\azure.webp" class="skill" /></div>
    <div class="skill"><img src="assets\skills\computer vision.png" class="skill" /></div>
    <div class="skill"><img src="assets\skills\data analysis.jpg" class="skill" /></div>
    <div class="skill"><img src="assets\skills\deep learning.png" class="skill" /></div>
    <div class="skill"><img src="assets\skills\python.png" class="skill" /></div>
    <div class="skill"><img src="assets\skills\sql.png" class="skill" /></div>
    <div class="skill"><img src="assets\skills\yolo.png" class="skill" /></div>
    <div class="skill"><img src="assets\skills\aws-2.svg" class="skill" /></div>
    <div class="skill"><img src="assets\skills\TF.png" class="skill" /></div>
    <div class="skill"><img src="assets\skills\pytorch.png" class="skill" /></div>
    <div class="skill"><img src="assets\skills\gpt.webp" class="skill" /></div>
    <div class="skill"><img src="assets\skills\images.png" class="skill" /></div>
    <div class="skill"><img src="assets\skills\sklearn.png" class="skill" /></div>
    <div class="skill"><img src="assets\skills\opencv.png" class="skill" /></div>
</div>
</div>
</div>
