<div class="container">
<h1 style="text-align: center">WHAT I OFFER</h1>
<div class="scroller" data-direction="right" data-speed="slow">
  <div class="scroller__inner">
    <div class="skill">
      <img src="assets/about me/data visualisation.png" class="skill" />
      <p>Data Analysis</p>
    </div>
    <div class="skill">
      <img src="assets/about me/deep learning.png" class="skill" />
      <p>ML/DL Model Development</p>
    </div>
    <div class="skill">
      <img src="assets/about me/WEB DEV.png" class="skill" />
      <p>Web Development</p>
    </div>
    <div class="skill">
      <img src="assets/about me/cloud.png" class="skill" />
      <p>Cloud computing</p>
    </div>
    <div class="skill">
      <img src="assets/about me/ai.png" class="skill" />
      <p>AI</p>
    </div>
    <div class="skill">
      <img src="assets/about me/machine-learning.png" class="skill" />
      <p>Machine learning</p>
    </div>
  </div>
</div>
</div>
